body {
    font-family: Microsoft JhengHei;
    margin: 0px;
    padding:0px;
    background-color:#444;
    letter-spacing: 1px;
}

/* index.html */
/* 左側導覽列 */
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
    background-color:white;
    overflow-x: hidden;
    transition: 0.5s;
  }
  .sidenav a {
    padding: 10px 0px 10px 24px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    font-size: 16px;
    color:black;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav-top{
      background-color: #cc99ff;
      height:55px;
      position:relative;
      margin-bottom: 15px;
  }
  .sidenav-top .sign{
      position:absolute;
      top:-10px;
      right:5px;
      font-size:50px;
      color:white;
  }
  
  @media screen and (max-height: 450px) { 
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  /* 左側導覽列 */
/* 上方 導覽列 height 55px*/
.navbar {
    overflow: hidden;
    background-color:#333;
    height: 35px;
    line-height: 35px;
    padding: 10px;
    position: fixed;
    top: 0;
    color:aliceblue;
    width: 100%;
    font-size:20px;
    cursor:pointer;
    text-align: center;
    z-index: 1;
  }
  .navbar-sign{
      float:left;
      margin-left: 10px;
  }
  .navbar-title{
      text-align: center;
  }
  .navbar-jpg{
      float:right;
      margin-right: 20px;
  }
  .navbar-jpg img{
      height:35px;
      width:45px;
  }
  /* 上方 導覽列*/
  /* 中間導覽列 */
  .main {
    padding: 55px 0px 0px 0px ;
    color:#ffffff;
  }
  .main_items{
      width:100%;
      height:50px;
      line-height: 50px;
      font-size: 16px;
  }
  .main_items i{
      padding-left:20px;
  } 
  .main a{
      color: #ffffff;
      text-decoration:none;
  }
  .main a:hover{
      color:#cc99ff;
  }
  /* 中間導覽列 */
  /* 下方導覽列 */
  .nav_bottom{
      background-color:#111;
      width:100%;
      height:60px;
      position: fixed;
      left:0;
      bottom:0;
      padding-bottom:10px;
  }
  .nav_bottom_item{
      width:33%;
      float:left;
      position: relative;
  }
  
  /* center the image  */
  .nav_bottom_item i{
      display:block;
      margin:0 auto;
      width:50px;    
      color: #ffffff;
      padding-top:10px;
      text-align: center;
  }
  /* 文字設定 */
  .nav_bottom_item .tag{
      color: #ffffff;
      font-size:14px;
      font-family: Microsoft JhengHei;
      text-align: center;
  }
  /* 紫色圈圈 */
  .nav_bottom .counter{
      border-radius:50%;
      z-index:10;
      position:absolute;
      right:40px;
      top:20px;
      background-color:#cc99ff;
  }
  .nav_bottom .red{
      background-color:red; 
  }
  /* 紫色圈圈裡的數字 */
  .nav_bottom .counter .num{
      font-size:16px;
      height:20px;
      width:20px;
      display: inline-block;
      text-align:center;
      color:white;
  }
  /* 下方導覽列 */
/* index.html */
  
/* search.html 館藏查詢*/
  .search-page{
    padding:30px 0px;
    background-color: white;
    width:100%;
    text-align:center;
 }
/* 選單樣式 */
.styled-select select {   
   border: none;  
   height: 36px;
   width: 80%;
   font-size:12px;
   margin-top:25px;
   background-color: #eee;
}
/* 輸入樣式 */
.styled-select input {   
   border: none;  
   height: 36px;
   width: 80%;
   font-size:12px;
   margin-top:25px;
   background-color: #eee;
}
.semi-square {
   -webkit-border-radius: 1px;
   -moz-border-radius: 1px;
   border-radius: 1px;
}
.white-button{
    background-color: white;
    border:#eee 1px solid;
    width:80%;
    height:50px;
    margin-top:20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    font-size: 14px;
}
.white-button:active{
    background-color:darkorchid;
    color: white;
}
/* search.hrml 館藏查詢*/

/* searchresult.html */
/* 中間查詢結果 總共幾筆*/
.middle-result{
    height: 40px;
    line-height: 40px;
    padding: 0px 10px;
    background-color:black;
    font-size:14px;
}
.middle-result .left{
    float:left;
    color: white;
}
.middle-result .right{
    float:right;
    color: white;
}
.middle-result .right .grey-select{
    border: none;
    background-color:#444;
    color: white;
}
/* 中間書本資料 */
.searchresult_main{
    padding-bottom: 40px;
}
.book-result{
    font-size:14px;
    width:100%;
    height:280px;
    position: relative;
    border-bottom: 1px rgb(150, 143, 143) solid;
}
.book-result .left{
    position:absolute;
    top:0;
    left:0;
    padding-top: 10px; 
    width:30%;
    text-align:center;
    height: 250px;
}
.book-result .left img{
    width:80px;
    height:100px;
    margin:15px 0px;
}
.book-result .left .book-value{
    height: 30px;
    line-height: 30px ;
    width:100%;
}
.book-result .left .book-value .status{
    color: white;
    margin-right: 10px;
}
.book-result .left .book-value .value{
    color:thistle;
    margin-left: 10px;
}
.book-result .right{
    padding-top:10px;
    position:absolute;
    right:0px;
    width:70%;
    color:white;
}
.book-result .right .booktitle{
    height:40px;
    line-height: 40px;
    font-size: 16px;
}
.book-result .right .items{
    height: 30px;
    line-height: 30px;
}
.book-result .right .items .datatitle{
    color: rgb(150, 143, 143);
    margin-right: 15px;
}
.book-result .right .items .datavalue{
    color: antiquewhite;
}
/* 下面固定的查詢結果 頁數 */
.buttom-result{
    height:50px;
    line-height:50px;
    width:100%;
    padding-left:10px;
    position: fixed;
    bottom:0px; 
    font-size:14px;
    background-color: black;
    color:white;
}
.buttom-result .left{
    float:left;
    color: white;
}
.buttom-result .right{
    float:right;
    color: white;
}
.buttom-result .right .grey-select{
    border: none;
    background-color:#444;
    color: white;
    margin-right: 20px;
}
/* black whiteword button*/
.black-button{
    background-color:#444;
    color:white;
    border:#eee 1px solid;
    margin-top: 20px;
    width:100px;
    height:40px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    letter-spacing: 2px;
}
.black-button:active{
    background-color:darkorchid;
    color: white;
}
/* searchresult.html */

/* newbook.html */

.newbook-total{
    padding:5px 10px; 
    background-color: black;
    height: 40px;
    line-height: 40px;
    color:white;
    font-size: 16px;
}
.newbook-total .num{
    color: burlywood
}
.newbook-intro{
    padding-top: 15px;
}
.newbook-intro .basic{
    padding-top: 25px;
    padding-bottom: 20px;
    color:white;
}
.newbook-intro .basic .title{
    font-weight: 800; 
    text-align: center;
    font-size: 16px;
    height: 40px;
    line-height: 40px; 

}
.newbook-intro .basic .items{
    line-height: 40px;
    height: 40px;
    text-align: center;
}
.newbook-intro .basic .items .topic{
    font-weight: 300; 
    font-size: 16px;
    color: darkseagreen;
    margin-right: 10px;
}
.newbook-intro .basic .items .status{
    color: white;
    margin-left: 10px;
}
*{
    margin: 0px;
    padding: 0px;
}
.slick-container, .slick-container img {
width:80%;;
margin: 0 auto;
}
/* newbook.html */

/* borrow.html */
.studentdata{
    height:250px;
    position: relative;
    margin-top: 15px;
}
.studentdata .left{
    width:25%;
    position: absolute;

}
/* 灰色圈圈 */
.studentdata .left .circle{
    position: absolute;
    left:50%;
    margin-left: -40px; 
    background-color:dimgray;
    height: 80px;
    width:80px;
    border-radius: 100%;
}
.studentdata .left .circle i{
    position: absolute;
    top: 20px;
    right:25px; 
    font-size:36px;
}
.studentdata .right{
     width:70%; 
     color:white; 
     position: absolute;
     top: 0px;
     right:0;
     line-height: 30px
}
.borrownum{
    display: inline-block;
    text-align: center; 
    color:mediumorchid; 
    width: 60px;
}
/* 下面資料 */
.pastborrow{
    padding-left:15px;
    color:white; 
    letter-spacing: 2px;
    line-height: 40px;
    background-color:rgb(56, 60, 70);
}
.pastborrow .word{
    color:red;
}
.wordhover:hover{
    color:blueviolet; 
}

/* borrow.html */

/* bookdetail.html */

.information{
    width:100%;
    background-color:white;
}
/* 下方細項資料 */
.information-items{
    line-height: 35px;
    margin-left: 20px; 
    padding:20px 0px 20px 0px; 
    font-size: 14px;
}
/* 登錄號 */
.information-items .login{
    font-size:16px;
    font-weight:600;
}
/* 登錄號碼 */
.information-items .num{
    color:darkviolet;
    font-size:16px;
    font-weight:600;
    margin-left: 10px;
}
/* 下方細項的後半部資料 */
.accession{
    padding-left:20px;
}
.short-white-button{
    background-color: white;
    border:#eee 1px solid;
    height:50px;
    width: 100px;
    margin-top:20px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
.short-white-button:active{
    background-color:darkorchid;
    color: white;
}
/* bookdetail.html */